.HolyGrail {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  background-color:white;
}

.HolyHeader {
  display: flex;
  justify-content: center;
  background: rgba(147, 128, 108, 0.1);
  margin: 1em 0;
  height: 150px;
}

.HolyGrail-body {
  display: flex;
  flex: 1 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .80em;
}

.HolyGrail-content {
  padding: 2em;
}

.HolyGrail-header,
.HolyGrail-footer {
  flex: none; 
}

.HolyGrail-nav {
  order: -1;
}

.HolyGrail-nav,
.HolyGrail-ads {
  padding: 2em;
  border-radius: 3px;
  background: rgba(147, 128, 108, 0.1);
}

.HolyFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cadetblue;
  margin: 1em 0;
  height: 100px;
  font-size: 11px;
}


@media (max-width: 600px) {
  .HolyGrail-body {
    flex-direction: column;
  }
  .HolyGrail-content {
    flex: 1;
    padding: 0 var(--space-lg);
    margin: 0;
  }
  .HolyGrail-nav, .HolyGrail-ads {
    flex: 0 0 12em;
  }
}
